//site color variables
$body-color: #fff;
$primary-color: #141414;
$secondary-color: #3b5998;
$text-color: #808080;
$text-color-dark: #141414;
$text-color-yellow: #ffbe09;
$site-ease: cubic-bezier(0.645, 0.045, 0.355, 1);
$border-color: #e0dede;

// solid colors
$white: #fff;
$black: #000;
$yellow: #ffbe09;
$green:#1a6804;
$bleu:#3670ed;

// Font Variables
$primary-font: "Jost", sans-serif;
$secondary-font: "Poppins", sans-serif;
